.listmovie {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  box-sizing: border-box;
  // align-items: center;
  font-size: 12px;

  width: 100%;
  padding: 15px;
  
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;  
  @include centeredFlex;
  flex-direction: row;

  &__leftPart {
    width: 15%;
    height: 100%;
  }

  &__rightPart {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__combine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;  
  }

  &__topPart {

  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }

  &__star {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url("../images/star.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: $starSize;
    height: $starSize;
  }

  &__star--active {
    background-image: url("../images/star-active.svg");
  }

  &__name {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__year {
    text-align: left;
  }

  &__description {
    text-align: left;
  }

  &__genres {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}