.tabs {
  &__title {
    padding: 0 20px;
  }
  
  &__tab {
    width: 24px;
    height: 24px;
    border: none;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &-selected {
      background-color: lightgray;
    }  
  }

  &__card {
    background-image: url("../images/card.png");
  }
  
  &__list {
    background-image: url("../images/list.png");
  }
}
